<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <div class="card">
            <div class="card-body text-center">
                <h5 class="card-title">{{ nombre }}</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"> Email: {{correo}}</li>
                    <li class="list-group-item">Status: {{estado}}</li>
                    <li class="list-group-item">Sex: {{sexo}}</li>
                </ul>
            </div>
            <button class="btn btn-primary btn-block  bnt-xl" routerLink="/dashboard"> Regresar</button>
        </div>
    </div>
</div>